# Entorno Virtual
venv/
*.venv
env/
.env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db